Source: everybeam
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper-compat (= 13),
 casacore-dev,
 cmake,
 doxygen,
 graphviz,
 libblas-dev,
 liblapack-dev,
 libhdf5-dev,
 libboost-dev,
 libboost-all-dev,
 libcfitsio-dev,
 libeigen3-dev,
 libfftw3-dev,
 libgsl-dev,
 libgtkmm-3.0-dev,
 libpng-dev,
 libxml2-dev,
 pybind11-dev,
 python3-distutils,
 wcslib-dev,
 git-all,
 libxtensor-blas-dev,
 libxtensor-dev,
 wget
Standards-Version: 4.6.2.0
Homepage: https://git.astron.nl/RD/EveryBeam

Package: everybeam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computes beam response for variety of radio telescopes
 This package can be used to compute the beam response for a variety of
 radio telescopes, i.e.:
 .
 * LOFAR
 * OSKAR
 * MWA
 * VLA
 * ATCA

